html {
    background: url(https://images.unsplash.com/photo-1612599538248-4d7b1ff49a64?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1287&q=80) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    text-align: center;
    padding-top: 10px;
}

h3 {
    text-align: center;
}

.rules {
    text-align: left;
    max-width: 25%;
    
}